stages:
  - test
  - build
  - deploy

variables:
  DOCKER_IMAGE: grafov1/backend
  DOCKER_TAG: latest

# 1. Прогон тестов
test:
  stage: test
  image: python:3.13.0-alpine3.20
  before_script:
    - pip install uv
    - uv sync
  script:
    - uv run pytest
  only:
    - main

# 2. Сборка docker-образа
build:
  stage: build
  image: docker:26.1.4
  services:
    - docker:26.1.4-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - docker info
  script:
    - docker build -t $DOCKER_IMAGE:$DOCKER_TAG -f Dockerfile-app .
  only:
    - main

# 3. Пуш образа на Docker Hub
deploy:
  stage: deploy
  image: docker:26.1.4
  services:
    - docker:26.1.4-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  script:
    - docker build -t $DOCKER_IMAGE:$DOCKER_TAG -f Dockerfile-app .
    - docker push $DOCKER_IMAGE:$DOCKER_TAG
  only:
    - main
